/* Estilos para el contenedor principal del carrusel */

.carousel {
    position: relative;
    /* Posición relativa para posicionar elementos hijos de forma absoluta */
    max-width: 600px;
    /* Ancho máximo del carrusel */
    margin: auto;
    /* Centra el carrusel en la página */
    overflow: hidden;
    /* Oculta el contenido que se desborda del contenedor */
}


/* Estilos para el contenedor de las imágenes del carrusel */

.carousel-content {
    display: flex;
    /* Utiliza un layout de tipo flexbox para alinear las imágenes horizontalmente */
}


/* Estilos para las imágenes dentro del carrusel */

.carousel-content img {
    width: 100%;
    /* Las imágenes ocupan el ancho completo del contenedor */
    display: none;
    /* Oculta inicialmente todas las imágenes */
}


/* Estilos para mostrar la imagen activa */

.carousel-content img.active {
    display: block;
    /* Muestra la imagen activa (aquella que tiene la clase 'active') */
}


/* Estilos para los botones de navegación (anterior y siguiente) */

button {
    position: absolute;
    /* Posición absoluta para colocar los botones en una posición fija */
    top: 50%;
    /* Ubica los botones en la mitad superior del contenedor */
    transform: translateY(-50%);
    /* Centra verticalmente los botones con respecto a su contenedor */
    background: rgba(0, 0, 0, 0.5);
    /* Fondo semitransparente negro para los botones */
    color: white;
    /* Color del texto de los botones */
    border: none;
    /* Elimina el borde de los botones */
    padding: 10px;
    /* Espaciado interno de los botones */
    cursor: pointer;
    /* Cambia el cursor al puntero al pasar por encima de los botones */
}


/* Estilos específicos para el botón de retroceso (anterior) */

#prevBtn {
    left: 0;
    /* Coloca el botón de retroceso en el borde izquierdo del contenedor */
}


/* Estilos específicos para el botón de avance (siguiente) */

#nextBtn {
    right: 0;
    /* Coloca el botón de avance en el borde derecho del contenedor */
}