body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #2b2b2b;
    color: #dcdcdc;
}

header {
    background-color: #252222;
    text-align: center;
    padding: 1.5rem 0;
    margin-bottom: 1.5rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1,
header h2,
header h3,
header h4 {
    margin: 0;
    color: #dcdcdc;
}

hr {
    border: none;
    border-top: 1px solid #266220;
    margin: 1.5rem auto;
}

h4 {
    text-align: center;
    margin: 1.5rem 0;
    color: #dcdcdc;
}

section {
    background-color: #252222;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
}

section h3 {
    margin-top: 0;
    color: #dcdcdc;
}

p {
    margin: 1rem 0;
}

nav {
    background-color: #252222;
    padding: 1.5rem;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 1.5rem;
}

nav h3 {
    margin: 0;
}

ol,
ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 0.5rem;
}

a {
    color: #266220;
    text-decoration: none;
    transition: color 0.3s ease;
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    background-color: #252222;
    color: #dcdcdc;
    border: 2px solid #266220;
    border-radius: 5px;
    transition: background-color 0.3s ease, color 0.3s ease;
}

a:hover {
    background-color: #266220;
    color: #252222;
}

a:visited {
    color: #8aff80;
}

h1,
h2,
h3,
h4 {
    font-size: 2rem;
}

h5,
h6 {
    font-size: 1.5rem;
}

p,
li {
    font-size: 1.125rem;
}

small {
    font-size: 0.875rem;
}
