body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f9f9f9;
}

header {
    background-color: #333;
    color: #fff;
    text-align: center;
    padding: 1rem;
    margin-bottom: 1rem;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

header h1,
header h2,
header h3,
header h4 {
    margin: 0;
    color: #fff;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.3);
}

hr {
    border: none;
    border-top: 1px solid #ddd;
    margin: 1.5rem 0;
    background-color: #ddd;
    height: 1px;
}

h4 {
    text-align: center;
    margin: 1rem 0;
    color: #333;
    font-weight: bold;
}

section {
    margin: 1.5rem 0;
}

section h3 {
    margin-top: 0;
}

p {
    margin: 0.5rem 0;
}

nav {
    background-color: #fff;
    color: #333;
    padding: 1rem;
    margin: 1.5rem 0;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

nav h3 {
    margin: 0;
    color: #333;
    font-weight: bold;
}

ol {
    list-style: none;
    padding: 0;
    margin: 0;
}

ol ol {
    margin-left: 2rem;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

li {
    margin-bottom: 0.5rem;
}

a {
    color: #6c63ff;
    text-decoration: none;
    transition: color 0.3s ease;
}

a:hover {
    color: #3d5afe;
}

a:visited {
    color: #6c63ff;
}

nav a {
    display: inline-block;
    padding: 0.5rem 1rem;
    margin: 0.5rem;
    background-color: #6c63ff;
    color: #fff;
    border-radius: 5px;
    transition: background-color 0.3s ease;
    text-decoration: none;
}

nav a:hover {
    background-color: #3d5afe;
}

nav a:visited {
    color: #fff;
}


/* Tamaño moderado de fuente */

h1,
h2,
h3,
h4 {
    font-size: 2rem;
}

h5,
h6 {
    font-size: 1.5rem;
}

p,
li {
    font-size: 1.125rem;
}

small {
    font-size: 0.875rem;
}
